<mat-toolbar class="row" color="primary">
  <img src="assets/favicons/favicon-32x32.png" />
  <span>Sound Board</span>
  <span class="spacer"></span>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <nav>
    <mat-chip-listbox>
      <mat-chip routerLink="home">Home</mat-chip>
      <mat-chip routerLink="about">About</mat-chip>
      <mat-chip routerLink="mixer">Mixer</mat-chip>
      <mat-chip routerLink="testPage">Test Page</mat-chip>
    </mat-chip-listbox>
  </nav>
</mat-toolbar>
<content>
  <router-outlet></router-outlet>
</content>
